/**
 * Description z.B: Module Content Box
 *
 * @author mg
 * @todo hier muss was passieren
 * @type General | und noch was
 *
 * @see full-box, something-else, dependencies (#)
 *
 * @link http://www.link-to-example.com Beispiel oder Documentationslink (#)
 *
 * @requires $color-default variable
 * @requires {function} emToPx
 * @requires {placeholder} reset-outline
 *
 * @example
 *  <div class="content-box">
 *      <h2 class="content-box__headline">This is a headline</h2>
 *  </div>
 */

$color-default: black;
$color-primary: red;

html,
body {height: 100%;}
body {
    background: linear-gradient(230deg,#a24bcf,#4b79cf,#4bc5cf);
    -webkit-animation: MoveBG 60s ease infinite;
    background-size: 300% 300%;
}
@-webkit-keyframes MoveBG {
    0%{background-position:0% 84%}
    50%{background-position:100% 16%}
    100%{background-position:0% 84%}
}

h1 {
    color: $color-default;
    font-size: 4em;
    font-weight: normal;
}

/**
 * Ein paar variablen
 *
 * @type string
 * @group variables
 *
 * @example
 *  <div class="blubb blubba">
 *      Blubb
 *  </div>
 */
$blubb: huhu;
/**
 * @type string
 * @group variables
 */
$blubba: foo;

.blubb { content: §blubb; }
.blubba { content: §blubba; }

